
.logo{
  height: 40px;
}
.banner {
    background-image: url("https://mchwebstorage.blob.core.windows.net/mch-website/images/og/c90dbbd4-12f2-4f8e-a5aa-6dd6dce968e7.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 780px;
    width: 100%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 59px;
  }
  .about-btn {
    background-color: #ff0505;
    outline: none;
    border: none;
    padding: 17px 34px;
    color: white;
  }
  .carasoul{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .fiter-deign{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50%;
  }
 .carasouldes{
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 }